@charset "UTF-8";
* {font-family: montserrat;}

body{}

main {background-color: #000000;  
      padding: ;
      border-radius: ;
      box-shadow: 0% 0%;
      width: 600px;
      margin: auto;}


img {text-align: center;
      width: 500px;}

h1 {text-align:center;
}